<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
    <strong>Please Enter an Existing Product ID to Update the Product </strong>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" [routerLink]="['/shop']">Back to Home </a>
    </nav>
</div>    
<br />
<hr />
<div>
    <form [formGroup]="productRef" (ngSubmit)="updateProductDetails()">
        <label>Product ID:</label>
        <input type="text" formControlName="_id"/><br/>
        <label>Product Name:</label>
        <input type="text" formControlName="name"/><br/>
        <label>Product Description:</label>
        <input type="text" formControlName="description"/><br/>
        <label>Product Image URL:</label>
        <input type="text" formControlName="imageUrl"/><br/>
        <label>Product Price:</label>
        <input type="text" formControlName="price"/><br/> <hr />
        <input type="submit" value="Update Product"/>
    </form>
    <hr />
    {{result}}
</div>

<hr />
<h5>You can do more here: </h5>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-lg">
    
    
    <div style="width:800px; margin:0 auto;">
        <a class="btn btn-info" [routerLink]="['/view-all']">View All</a>
        <a class="btn btn-success" [routerLink]="['/product-store']">Add Product</a>
        <a class="btn btn-danger" [routerLink]="['/product-delete']">Delete Product</a>
        <!-- <a class="btn btn-primary" [routerLink]="['/product-update']">Update Product</a> -->
    </div>
</div>

