<div class="row">
    <div class="col-md-4-offset-md-4">
        <div class="card">
            <div class="card-header">
                <h3 align= center>Page Under Construction</h3>     
            </div>
            <div class="card-body">
                <p>Online payment option is currenclty unavailable. Our team is currently building this page. Please pay it in-person. Sorry for any inconvinience occured.</p>
                <p>
                    <a routerLink="/">Go Back To Home</a>
                </p>
            </div>
        </div>
    </div>
</div>