<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
    <strong>Please 'Load Products' to Retrieve All Products</strong>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" [routerLink]="['/shop']">Back to Home </a>
    </nav>
</div>

<br />
<hr />
<div>
    <input type="button" value="Load Products" (click)="loadProductInfo()"/>
   
        <div *ngIf="flag">
            <br />
            <table border="1">
                
                    <tr>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Product Desc</th>
                        <th>Product Image Url</th>
                        <th>Product Price</th>
                        
                    </tr>
                    <tr *ngFor="let pp of products">
                        <td>{{pp._id}}</td>
                        <td>{{pp.name}}</td>
                        <td>{{pp.description}}</td>
                        <td>{{pp.imageUrl}}</td>
                        <td>{{pp.price}}</td>
                    </tr>
            </table>
    </div>
</div>

<hr />
<h5>You can do more here: </h5>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-lg">
    
    <!-- <a class="btn btn-info" [routerLink]="['/view-all']">View All</a> -->
    <div style="width:800px; margin:0 auto;">
        <a class="btn btn-success" [routerLink]="['/product-store']">Add Product</a>
        <a class="btn btn-danger" [routerLink]="['/product-delete']">Delete Product</a>
        <a class="btn btn-primary" [routerLink]="['/product-update']">Update Product</a>
    </div>
</div>

